<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="demoAddItem" xsi:type="object">Demo\First\Console\Command\AddItem</item>
            </argument>
        </arguments>
    </type>
    <preference for="Demo\First\Api\Data\ItemInterface" type="Demo\First\Model\Item"/>
    <preference for="Demo\First\Api\ItemRepositoryInterface" type="Demo\First\Model\ItemRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="demoAddItem_grid" xsi:type="string">Demo\First\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>